* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.courses-cards-container {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
}
.course-card-swiper {
  display: flex;
  border: 3px solid red;
  margin: 0.5em;
  padding: 0.5em;
  height: 50%;
}
.educator-course-card {
  display: flex; 
  border: 5px solid teal;  
  margin: 5px;
}




