* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.educator-container {
  display: flex;
  border: 1px solid green;
  width: 100%;
  height: 80%;
  flex-direction: row;
  align-content: center;
  margin: 0.5em;
  padding: 1em;
  background-color: rgba(244,244,244,1);
}
.educator-sidebar {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 20%;
  border: 1px solid blue;
  align-self: stretch;
}
.btn-test {
  width: 80%;
  height: 50px;
}

.educator-content {
  display: flex;
  border: 1px solid red;
  width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0.25em;
  padding: 0.5em;
}

.educator-report {
  display: flex;
  border: 1px solid blue;
  margin: 0.5em;
  padding: 0.5em;
  width: 98%;
  height: 50%;
  flex-direction: column;
}

.educator-courses-list {
  display: flex;
  border: 1px solid yellow;
  margin: 0.5em;
  padding: 0.5em;
  width: 98%;
  height: 50%;
  flex-direction: column;
}
.my-course{
  font-size: 20px;
}
.total-number{
display: flex;
font-size: 25px;
font-weight: normal;
border: 1px solid red;
width: 100%;
justify-content: center;
}
.bold-number{
  font-weight: bold;
  margin-left: 0.25em;
  margin-right: 0.25em;
  font-size: 25px;
}