/* 
.sidebar{
  display: flex;
  flex-direction: column;
  background-color: rebeccapurple;
  margin: 1em;
  padding: 1em; 
  width: 20%;
  
  height: 830px;  
}
.btn-test{
  width: 70%;
  height: 10%;
} 
*/